body {
  background: linear-gradient(to right, #ee9ca7, #ffdde1);
}

.searchBox {
  border-style: "solid";
  border-width: 1px;
  padding: 1rem;
  background-color: #cdecff;
  margin-right: 10px;
}

.input-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.filterButton {
  background-color: #cdecff;
  border: 1px solid;
  height: 30px;
  width: 60px;
}

.filterButton:hover {
  background-color: #0575e6;
  color: white;
}

.destination-header {
  font-family: "Playball", cursive;
  text-align: center;
  color: #ec38bc;
  font-size: 50px;
}

.card-container {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  place-items: center;
}

.card {
  -webkit-box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.1);
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.1);
  width: 300px;
  height: 550px;
  border-radius: 15px;
  overflow: hidden;
}

.card-image {
  width: 300px;
  height: 200px;
}

.card-text {
  text-align: left;
  font-size: 12px;
  font-family: "Courier New", Courier, monospace;
  padding: 15px;
}

.card-title {
  font-size: 20px;
  font-weight: bold;
  margin: 0;
  padding: 5px 0;
}

.card-description {
  font-size: 12px;
}

.card-activities {
  font-size: 12px;
}

.card-icon {
  position: relative;
  bottom: 100px;
  margin: 5px 0;
}

.card-address,
.card-people,
.card-price {
  padding-left: 30px;
  margin: 15px 0;
}

.buttonContainer {
  position: relative;
  bottom: 100px;
  margin: 5px 0;
  display: flex;
  justify-content: center;
}

.btn {
  text-transform: uppercase;
  background-color: #cdecff;
  border: 1px solid #cdecff;
  cursor: pointer;
  border-radius: 30px;
  padding: 0.5rem 1rem;
}

.btn:hover {
  background-color: #0575e6;
  color: white;
  border-color: #0575e6;
  border-width: 4px;
  cursor: pointer;
}
